<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>My Github Directory</title>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-animate.min.js"></script>  
  
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="main" ng-controller = "MyController">
  <div class="search">
    <h1>Welcome to My Projects Directory!</h1>
    <p>A lightweight and interactive overview of <a href="https://github.com/vinhnghi223">my Github</a>. Search by any keywords and sort the list by your preferences.</p>
    <label>search: </label>
    <input ng-model="query" placeholder="Type something, for example,'AngularJS' or 'Android' " autofocus />

    <label class="formgroup">Order by:
      <select ng-model="searchOrder"> 
        <option value="rating">Rating</option>
        <option value="name">Name</option>
        <option value="cat">Categories</option>
      </select>
    </label>
    
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction">
      ascending
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>     

  </div>
  
  <ul class="projectList">
    <li ng-animate="'animate'" class="artist cf" ng-repeat="item in projects  | filter: query | orderBy: searchOrder:direction">
      
      <div class="info">
          <h2>{{item.name}}</h2>
          <p>{{item.cat}}</p>
          <h3>{{item.technologies}}</h3>
          <img ng-src="images/{{item.rating}}.png"><br/>
          <div class="links" ng-repeat="link in item.links">
              <a target="_blank" href="{{link[1]}}"><img ng-src="images/{{link[0]}}.jpg"></a>
          </div>
      </div>
    </li>
  </ul>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44226715-5', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html> 
