<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>My Github Directory</title>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="main" ng-controller = "MyController">
  <div class="search">
    <h1>My Github Directory (Beta)</h1>
    <p>An AngularJS app that offers a clean and interactive UI of <a href="https://github.com/vinhnghi223">my Github account</a>. You can search by any keywords and sort the list based on values in the select option below. Thanks for visiting!</p>
    <label>search: </label>
    <input ng-model="query" placeholder="Type a value, for example,'AngularJS' or 'Android' " autofocus />

    <label class="formgroup">by:
      <select ng-model="searchOrder"> 
        <option value="rating">Rating</option>
        <option value="name">Name</option>
        <option value="cat">Categories</option>
      </select>
    </label>
    
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction">
      ascending
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>     

  </div>
  
  <ul class="projectList">
    <li class="artist cf" ng-repeat="item in projects  | filter: query | orderBy: searchOrder:direction">
      
      <div class="info">
          <h2>{{item.name}}</h2>
          <p>{{item.cat}}</p>
          <h3>{{item.technologies}}</h3>
          <img ng-src="images/{{item.rating}}.png"><br/>
          <div class="links" ng-repeat="link in item.links">
              <a href="{{link[1]}}"><img ng-src="images/{{link[0]}}.jpg"></a>
          </div>

      </div>

    </li>
  </ul>


</div>
</body>
</html> 
