/* ---------------------------- about-me ----------------------- */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.caption{
    position: absolute;
    color: #fff;
}

#slides-container{
    width:100%;
    height: 100%;
    overflow: hidden;
}

#slides{
    width:200%;
    height: 200%;
    position: fixed;
    left: 0;
    top:0;
}

.slide{
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height:50%;
}

.caption p{
    font-size: 1.4em;
    line-height: 1.8rem;
    text-align: justify;
}

/* --------------------- Slide 1 --------------------- 1*/
#slide-1{
    background: url("../img/bcg_slide-1.jpg") no-repeat center center; /*6, 18 */
    background-size: cover;
}
#intro{
    position: absolute;
    left:50%;
    top: 10%;
}


#intro h1{
  -webkit-transform: rotate(-49deg);
     -moz-transform: rotate(-49deg);
      -ms-transform: rotate(-49deg);
       -o-transform: rotate(-49deg);
          transform: rotate(-49deg);
    margin-bottom: 45%;
    margin-left: -173px;
}

#intro h1.moving{
    -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#intro h1, #intro p{
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;  
}

#intro #avt{
    width: 150px;
    height: 150px;
    background: url('../img/avt.png') center center no-repeat;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
    cursor:pointer;
    margin-left: -75px;
}

#intro #avt:hover{
      -webkit-box-shadow: 0 0 10px #000; /*#888*/
     -moz-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

#intro p{
    margin-left: -175px;
    margin-top: 10px;
    font-weight: bold;
}

#intro p.moving{
    margin-left: -175px;
    margin-top: 15px;
    font-weight: bold;
}


/* --------------------- Slide 2 --------------------- 1*/
#slide-2{
    background: url("../img/bcg_slide-2.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: translate(0,100%); /* IE 9 */
    -webkit-transform: translate(0,100%); /* Chrome, Safari, Opera */
    transform: translate(0,100%);
}

#slide-2 .caption p{
    color: #47373f;
    margin: 6% 32% 0 5% ;
    font-size: 1.45em;
}

/* --------------------- Slide 3 --------------------- 1*/
#slide-3{
    background: url("../img/bcg_slide-3.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: translate(100%,100%); /* IE 9 */
    -webkit-transform: translate(100%,100%); /* Chrome, Safari, Opera */
    transform: translate(100%,100%);
}

#slide-3 .caption p{
    color: #630;
    margin: 10% 57% 0 5%;
    padding: 15px;
}

/* --------------------- Slide 4 --------------------- 1*/
#slide-4{
    background: url("../img/bcg_slide-4.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: translate(100%,0); /* IE 9 */
    -webkit-transform: translate(100%,0); /* Chrome, Safari, Opera */
    transform: translate(100%,0);
}

#slide-4 .caption{
    position: absolute;
    margin-top: 100px;
    margin-left: 60%;
}
#slide-4 .caption, #slide-4 .caption p, #slide-4 .caption h1{
    color: white;
    text-align: right; 
}

#slide-4 p{
    margin-bottom: 150px;
}

#slide-4  #social-media img{
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

#slide-4  #social-media img:hover{
    opacity: 0.8;
    border: 1px solid white;
}

#slide-4  .my-address{
    font-size: 1em;
    font-style: italic;
    line-height: 0;
}

/* --------------------- RESPONSIVENESS ---------------------- */

/* Everything switchs to mobile mode here */
@media only screen and (max-width: 700px){
    #slide-3 .caption p{
        margin: 5% 57% 0 5%;
        font-size: 1em;
    }
}
@media only screen and (max-width: 500px){
    #slide-2 .caption p{
        font-size: 1.2em;
    }

    #slide-3 .caption p{
        margin: 2% 30% 0 2%;
        font-size: 0.9em;
    }
 
     #slide-4 .caption{
        margin: 20% 5% auto 5%;
        text-align: center; 
     }
    #slide-4 .caption h1{
        font-size: 1.2em;
        text-align: center; 
    }
    #slide-4 .caption p{
        margin-bottom: 90px;
        font-size: 1em;
        text-align: center; 
    }

    #slide-4 .my-address{
        font-size: 1em;
    }

}
@media only screen and (max-width: 365px){
    #intro p{
        margin-left: -75px;
    }
    #intro p.moving{
        margin-left: -75px;
    }

    #slide-2 .caption p{
        margin: 6% 5% 0 5% ;
    }
    #slide-2 .caption.part2 p,{
        font-size: 1em;
    }


}