/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: " ";
    /*content: none; */
}

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background-color: #D3D3D3;
  min-height: 100%;
  height: auto;
}

body  {
  background-color: #D3D3D3;
  font-family: callunaregular, Arial;
  font-size: 1rem;
  line-height: 160%;
  *zoom: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: callunaregular, Arial;
  color: #fff;
}

a {
  color: #145266;
  font-family: callunaregular, Arial;
}

h1{
  color: #145266;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 10px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3{ 
  margin-top: 0;
  color: #bd3613;
  line-height: 110%;
  margin-bottom: 10px;
}

p {
  line-height: 1.3rem;
  color: #475B62;
  margin-bottom: 10px;
  font-family: callunaregular,Arial;
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}
/* ---------------------------- Fixed element ----------------------- */
/* Ribbon */
.ribbon {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);

  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;

    background-color: yellow;
    overflow: hidden;
    position: fixed;
    right: -47px;
    top: 15px;
    white-space: nowrap;
    z-index: 2;
}

.ribbon a {
  display: block;
  font: 81.25% "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 1px 0;
  padding: 5px 56px 5px 38px;
  text-align: center;
  text-decoration: none;
}

/* Menu */
#menu{
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px; 
  padding: 5px; 
  background-color: #fff; 
  z-index: 99999;
  position: fixed;
  text-align: center;
}

#menu a{
  color: #18bc9c; /*Bootstrap link corlor*/
  text-decoration: none;
}
#menu a:hover{
    color: #008f7a;  
}

#menu:hover{
    -webkit-box-shadow: 0 0 14px #888;
     -moz-box-shadow: 0 0 14px #888;
          box-shadow: 0 0 14px #888;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 14, 2014 */

@font-face {
    font-family: 'callunaregular';
    src: url('fonts/calluna-regular-webfont.eot');
    src: url('fonts/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calluna-regular-webfont.woff2') format('woff2'),
         url('fonts/calluna-regular-webfont.woff') format('woff'),
         url('fonts/calluna-regular-webfont.ttf') format('truetype'),
         url('fonts/calluna-regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------- about-me ----------------------- */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.caption{
    position: absolute;
    color: #fff;
}

#slides-container{
    width:100%;
    height: 100%;
    overflow: hidden;
}

#slides{
    width:200%;
    height: 200%;
    position: fixed;
    left: 0;
    top:0;
}

.slide{
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height:50%;
}

.caption p{
    font-size: 1.4em;
    line-height: 1.8rem;
    text-align: justify;
}

/* --------------------- Slide 1 --------------------- 1*/
#slide-1{
    background: url("../img/bcg_slide-1.jpg") no-repeat center center; /*6, 18 */
    background-size: cover;
}
#intro{
    position: absolute;
    left:50%;
    top: 10%;
}


#intro h1{
  -webkit-transform: rotate(-49deg);
     -moz-transform: rotate(-49deg);
      -ms-transform: rotate(-49deg);
       -o-transform: rotate(-49deg);
          transform: rotate(-49deg);
    margin-bottom: 45%;
    margin-left: -173px;
}

#intro h1.moving{
    -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#intro h1, #intro p{
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;  
}

#intro #avt{
    width: 150px;
    height: 150px;
    background: url('../img/avt.png') center center no-repeat;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
    cursor:pointer;
    margin-left: -75px;
}

#intro #avt:hover{
      -webkit-box-shadow: 0 0 10px #000; /*#888*/
     -moz-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

#intro p{
    margin-left: -175px;
    margin-top: 10px;
    font-weight: bold;
}

#intro p.moving{
    margin-left: -175px;
    margin-top: 15px;
    font-weight: bold;
}


/* --------------------- Slide 2 --------------------- 1*/
#slide-2{
    background: url("../img/bcg_slide-2.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: translate(0,100%); /* IE 9 */
    -webkit-transform: translate(0,100%); /* Chrome, Safari, Opera */
    transform: translate(0,100%);
}

#slide-2 .caption p{
    color: #47373f;
    margin: 6% 32% 0 5% ;
    font-size: 1.45em;
}

/* --------------------- Slide 3 --------------------- 1*/
#slide-3{
    background: url("../img/bcg_slide-3.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: translate(100%,100%); /* IE 9 */
    -webkit-transform: translate(100%,100%); /* Chrome, Safari, Opera */
    transform: translate(100%,100%);
}

#slide-3 .caption p{
    color: #630;
    margin: 10% 57% 0 5%;
    padding: 15px;
}

/* --------------------- Slide 4 --------------------- 1*/
#slide-4{
    background: url("../img/bcg_slide-4.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: translate(100%,0); /* IE 9 */
    -webkit-transform: translate(100%,0); /* Chrome, Safari, Opera */
    transform: translate(100%,0);
}

#slide-4 .caption{
    position: absolute;
    margin-top: 100px;
    margin-left: 60%;
}
#slide-4 .caption, #slide-4 .caption p, #slide-4 .caption h1{
    color: white;
    text-align: right; 
}

#slide-4 p{
    margin-bottom: 150px;
}

#slide-4  #social-media img{
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

#slide-4  #social-media img:hover{
    opacity: 0.8;
    border: 1px solid white;
}

#slide-4  .my-address{
    font-size: 1em;
    font-style: italic;
    line-height: 0;
}

/* --------------------- RESPONSIVENESS ---------------------- */

/* Everything switchs to mobile mode here */
@media only screen and (max-width: 700px){
    #slide-3 .caption p{
        margin: 5% 57% 0 5%;
        font-size: 1em;
    }
}
@media only screen and (max-width: 500px){
    #slide-2 .caption p{
        font-size: 1.2em;
    }

    #slide-3 .caption p{
        margin: 2% 30% 0 2%;
        font-size: 0.9em;
    }
 
     #slide-4 .caption{
        margin: 20% 5% auto 5%;
        text-align: center; 
     }
    #slide-4 .caption h1{
        font-size: 1.2em;
        text-align: center; 
    }
    #slide-4 .caption p{
        margin-bottom: 90px;
        font-size: 1em;
        text-align: center; 
    }

    #slide-4 .my-address{
        font-size: 1em;
    }

}
@media only screen and (max-width: 365px){
    #intro p{
        margin-left: -75px;
    }
    #intro p.moving{
        margin-left: -75px;
    }

    #slide-2 .caption p{
        margin: 6% 5% 0 5% ;
    }
    #slide-2 .caption.part2 p,{
        font-size: 1em;
    }


}
/* ---------------------------- my-work ----------------------- */

/* Search Styles */

.search {
    border: 1px solid black;
    padding: 10px;
    z-index: 20;
    background-color: #D3D3D3;
    text-align: center;
}

.search input {
  font-family: callunaregular,Arial;
  padding: 8px 0 8px 8px;
  font-size: 1rem;
  background: rgba(255,255,255,0.4);
  border: 1px solid black;
  outline: 0;
}



/* Projects List Styles */
.projectList {
  min-width: 320px;
  /*margin: 0 auto 30px;*/
  opacity: .95;
  z-index: 10;
}

.projectList.ul {
  background: #E6F5F5;
}

.projectList .li {
  background: #E6F5F5;
  margin: 0;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;  
}

.projectList a {
  display: block;
  text-decoration: none;
}

.projectList .li:hover {
  background: #FDF6E3;
  opacity: 0.9;
}

.project img.links {
  border: 1px solid black;
  display: block;
  float: right;
  margin: 10px 10px 10px 0;
}

.project .links img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); 
}

.project info {
  display: block;
  float: left;
  padding-left: 120px !important;
}

.projectinfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  min-width: 320px;
  max-width: 625px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  z-index: 20;
}

.projectinfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.projectinfo img {
  width: 40%;
  max-width: 130px;
}

.links img {
  width: 40px;
  height:auto;
}

/* No padding surrouding background cover image*/
.col-xs-6, .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------------------*/
/**
 * Cards flipping styles
 */
.card__front{
  background-size: cover;
}
.card__front h2{
  background: linear-gradient(rgba(0, 0, 0, 1), transparent) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-size: 1.25em;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}


 .card, .card__front, .card__back {
  width: 100%;
  height: 20vw;
}
.card {
  position: relative;
  text-align: center;
}


/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
}

.card__front, .card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* Animation on typing */
.project.ng-enter.ng-enter-active,
.project.ng-leave{
  opacity: 1;
  overflow: hidden;
}

.project.ng-leave.ng-leave-active,
.project.ng-enter{
  opacity: 0;
  overflow: hidden;
}


/* my-work */
#back-to-top{
  position: fixed;
  bottom: 0;
  left:48%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

#back-to-top:hover{
  opacity: 0.8;
}
/* ---------------------------- Autocomplete ----------------------- */
.autocomplete{
  display: inline-block;
  margin-right: 10px;
  position: relative;
  width: 60%;
}

.autocomplete input{
  width: 100%;
}

.autocomplete ul{
  font-family: Arial;
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
