/* ---------------------------- Fixed element ----------------------- */
/* Ribbon */
.ribbon {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);

  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;

    background-color: yellow;
    overflow: hidden;
    position: fixed;
    right: -47px;
    top: 15px;
    white-space: nowrap;
    z-index: 2;
}

.ribbon a {
  display: block;
  font: 81.25% "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 1px 0;
  padding: 5px 56px 5px 38px;
  text-align: center;
  text-decoration: none;
}

/* Menu */
#menu{
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px; 
  padding: 5px; 
  background-color: #fff; 
  z-index: 99999;
  position: fixed;
  text-align: center;
}

#menu a{
  color: #18bc9c; /*Bootstrap link corlor*/
  text-decoration: none;
}
#menu a:hover{
    color: #008f7a;  
}

#menu:hover{
    -webkit-box-shadow: 0 0 14px #888;
     -moz-box-shadow: 0 0 14px #888;
          box-shadow: 0 0 14px #888;
}