/* ---------------------------- my-work ----------------------- */

/* Search Styles */

.search {
    border: 1px solid black;
    padding: 10px;
    z-index: 20;
    background-color: #D3D3D3;
    text-align: center;
}

.search input {
  font-family: callunaregular,Arial;
  padding: 8px 0 8px 8px;
  font-size: 1rem;
  background: rgba(255,255,255,0.4);
  border: 1px solid black;
  outline: 0;
}



/* Projects List Styles */
.projectList {
  min-width: 320px;
  /*margin: 0 auto 30px;*/
  opacity: .95;
  z-index: 10;
}

.projectList.ul {
  background: #E6F5F5;
}

.projectList .li {
  background: #E6F5F5;
  margin: 0;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;  
}

.projectList a {
  display: block;
  text-decoration: none;
}

.projectList .li:hover {
  background: #FDF6E3;
  opacity: 0.9;
}

.project img.links {
  border: 1px solid black;
  display: block;
  float: right;
  margin: 10px 10px 10px 0;
}

.project .links img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); 
}

.project info {
  display: block;
  float: left;
  padding-left: 120px !important;
}

.projectinfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  min-width: 320px;
  max-width: 625px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  z-index: 20;
}

.projectinfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.projectinfo img {
  width: 40%;
  max-width: 130px;
}

.links img {
  width: 40px;
  height:auto;
}

/* No padding surrouding background cover image*/
.col-xs-6, .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------------------*/
/**
 * Cards flipping styles
 */
.card__front{
  background-size: cover;
}
.card__front h2{
  background: linear-gradient(rgba(0, 0, 0, 1), transparent) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-size: 1.25em;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}


 .card, .card__front, .card__back {
  width: 100%;
  height: 20vw;
}
.card {
  position: relative;
  text-align: center;
}


/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
}

.card__front, .card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* Animation on typing */
.project.ng-enter.ng-enter-active,
.project.ng-leave{
  opacity: 1;
  overflow: hidden;
}

.project.ng-leave.ng-leave-active,
.project.ng-enter{
  opacity: 0;
  overflow: hidden;
}


/* my-work */
#back-to-top{
  position: fixed;
  bottom: 0;
  left:48%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

#back-to-top:hover{
  opacity: 0.8;
}