<div id="page-content"> 
    <div id="slides-container">
        <div id="slides"
            data-0="transform: translate(0%,0%)"
            data-150p="transform: translate(0%,-50%)"
            data-200p=""
            data-300p="transform: translate(-50%,-50%)"
            data-350p=""
            data-450p="transform: translate(-50%,0%)"
            >
            <div id="slide-1" class="slide">
                <div id="intro">
                    <h1>Hei!</h1>
                    <div id="avt"></div></a>
                    <p>I'm Nghi /Ngee/. A young and passionate Developer.</p>
                </div>
            </div>
            <div id="slide-2" class="slide">
                <div class="caption">
                    <p>I am a hard-worker and a quick learner! I love to build products. I have done some Web & Mobile projects. My most used languages so far are JavaScript and Java. I also know other stuff as well such as UI/UX design.<br/><br/>I can work with anyone (including myself). I do not simply work but enjoy and love my works! Often time I see myself coding/working in dreams and wake up the next day with new ideas and solutions :D.</p>
                </div>
            </div>
            <div id="slide-3" class="slide">
                <div class="caption">
                    <p>I love to explore and learn new things. I like to think "challenges make me stronger". <br/><br/>I'm a fan of soccer. I also enjoy playing badminton, pingpong, or any sport activities. I just don't really have as much time as I did when I was young to play them.</p>
                </div>
            </div>
            <div id="slide-4" class="slide">
                <div class="caption">
                    <h1>Contact me, please?</h1>
                    <p>I try to live a simply life, own less thing, and give more. I want to get to my full potential and be able to contribute back to the community. For now, help me by hiring me since I'm ready! ;)<br/><br/><br/><br/><br/><br/><br/>
                    <span class="my-address">Phone: 0417 559 107</span><br/>
                    <span class="my-address">Email: vinhnghi223[at]gmail.com</span><br/>
                    </p>
                    <div id="social-media">
                        <a href="https://github.com/vinhnghi223"><img src="dist/img/links/github.jpg"></a>
                        <a href="https://fi.linkedin.com/in/levinhnghi"><img src="dist/img/links/linkedin.png"></a>
                        <a href="https://twitter.com/vinhnghi223"><img src="dist/img/links/twitter.png"></a>
                    </div>
                </div><!--caption-->
            </div>
        </div>
    </div> <!--slides-container-->
</div><!--page-content-->

<script src="dist/scripts/skrollr.min.js"></script>
<script src="dist/scripts/about-me.js"></script>


