<div id="page-content"> 
    <div id="slides-container">
        <div id="slides"
            data-0="transform: translate(0%,0%)"
            data-150p="transform: translate(0%,-50%)"
            data-200p=""
            data-300p="transform: translate(-50%,-50%)"
            data-350p=""
            data-450p="transform: translate(-50%,0%)"
            >
            <div id="slide-1" class="slide">
                <div id="intro">
                    <h1>Moi!</h1>
                    <div id="avt"></div></a>
                    <p>I'm Nghi /Ngee/. A young and passionate Developer.</p>
                </div>
            </div>
            <div id="slide-2" class="slide">
                <div class="caption">
                    <p>I see myself as a hard-working person and a quick learner!  During the past few years, I have done various Web & Mobile development projects. At work I'm quite a discipline person but I'm a easy to talk with and work with anyone. Though being a developer, I also possess an eye for UI/UX design.<br/><br/>
                    I enjoy programming and love to build products. Often time I see myself coding/working in dream and wake up the next day with new ideas and solutions.</p>
                </div>
            </div>
            <div id="slide-3" class="slide">
                <div class="caption">
                    <p>I love to explore and learn new things. I'm used to play a lot soccer when I was young and still love playing them. I also enjoy badminton, pingpong, or any sport activities. I just happen to find myself dont really have much time to play them.</p>
                </div>
            </div>
            <div id="slide-4" class="slide">
                <div class="caption">
                    <h1>Contact me, please?</h1>
                    <p>I try to live a simply life, own less thing, and give more. Help me by hiring me. I'm always ready.<br/><br/>
                    <span class="my-address">Phone: 0417 559 107</span><br/>
                    <span class="my-address">Email: vinhnghi223[at]gmail.com</span><br/>
                    </p>
                    <div id="social-media">
                        <a href="https://github.com/vinhnghi223"><img src="dist/img/links/github.jpg"></a>
                        <a href="https://fi.linkedin.com/in/levinhnghi"><img src="dist/img/links/linkedin.png"></a>
                        <a href="https://twitter.com/vinhnghi223"><img src="dist/img/links/twitter.png"></a>
                    </div>
                </div><!--caption-->
            </div>
        </div>
    </div> <!--slides-container-->
</div><!--page-content-->

<script src="dist/scripts/skrollr.min.js"></script>
<script src="dist/scripts/about-me.js"></script>


